.calc__button {
    outline:none;
    border: none;
    color: #FFF;
    align-items: center;
    background-color: #333;
    cursor: pointer;
    display: flex;
    font-size: 30px;
    height: 90px;
    justify-content: center;
    width: 90px;
    border-bottom: 1px solid #000 !important;
    border-left: 1px solid #000 !important;
}

.calc__button.backspace {
    color: #4FADFA;
    font-size: 15px;
}

.calc__button:hover{
    background-color: #3A3A3A;
}

.calc__button.operator {
    color: #4FADFA;
}

.calc__button.active,
.calc__button.operator.active {
    color: #FFF;
    background-color: #4D8BF1;
}

.calc__button.equal {
    height: 180px;
    background-color: #4FADFA;
    grid-row: span 2;
}

.calc__button.equal:hover {
    background-color: #5BB2F8;
}