.calc__container { 
    margin: 30px auto 0px auto;
    width: 360px;
    height: 534px;
}

.calc__container > h1 {
    margin-bottom: 20px;
}

.calc__frame {
    background: #000;
    width: 100%;
    height: 100%;
    color: #FFF;
}

.calc__frame .calc__display {
    padding: 10px;
    width: 100%;
    text-align: right;
    font-size: 55px;
    border-bottom: 1px solid #444343;
}

.calc__frame .calc__buttons {
    display: grid;
    grid-gap: 0px;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
}